---
# =========================
# FETCH ACCESS LOGS
# =========================
- name: Read Kong access logs
  raw: tail -n 50 /usr/local/kong/logs/access.log || echo "No access logs found"
  register: access_logs
  when: kong_action_final == "fetch_access_logs"

- name: Display access logs
  debug:
    msg: "{{ access_logs.stdout | default('No access logs found') }}"
  when: kong_action_final == "fetch_access_logs"

# =========================
# FETCH ERROR LOGS
# =========================
- name: Read Kong error logs
  raw: tail -n 50 /usr/local/kong/logs/error.log || echo "No error logs found"
  register: error_logs
  when: kong_action_final == "fetch_error_logs"

- name: Display error logs
  debug:
    msg: "{{ error_logs.stdout | default('No error logs found') }}"
  when: kong_action_final == "fetch_error_logs"
