- name: Kong Adhoc Operations
  hosts: all
  gather_facts: false

  tasks:
    - name: Show execution user
      raw: whoami
      register: whoami_out
      changed_when: false

    - name: Output whoami only
      debug:
        msg: "Executed as user: {{ whoami_out.stdout_lines[0] }}"

    - name: Get Kong version
      raw: kong version
      register: kong_version
      changed_when: false

    - name: Output Kong version only
      debug:
        msg: "Kong version: {{ kong_version.stdout_lines[0] }}"
